body {
    background-color: #131313;
    margin: 0;
    font-family: sans-serif;
}
.new-content {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 80px;
}


.groupe {
    display: flex;
    flex-direction: column;
}

.title-new {
    height: 50px;
}

.btn-new {
    background-color: #e5a71a;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: bold;
}


.btn-reserver {
    width: 16px;
    height: auto;
    margin-right: 8px;
}

.container-films {
    background-color: #131313;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px 50px 40px;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
.card-body h3, .card-body a {
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
    list-style: none;
}

.title-info {
    padding-top: 15px;
    margin-left: 15px;
}

.card {
    background-color: #333333;
    border-radius: 15px;
    padding-top: 25px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card-img {
    font-weight: bold;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.card-body {
    font-weight: bold;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.btn-reserver-small {
    background-color: #e5a71a;
    color: white;
    padding: 8px 20px;
    font-size: 0.9rem;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: bold;
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
}

